body {
  font-family: Verdana;
  background-color: rgb(205, 240, 237);
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #7244a5;
}

#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

#searchInput {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
}

#search-button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #7244a5;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

#search-button:hover {
  background-color: #482a6b;
}

#table-container {
  margin: 0 auto;
  max-width: 800px;
  overflow-x: auto; /* Für responsive Tabellen */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

tr:hover {
  background-color: #f1f1f1;
}
